/* 1头部(见公共样式) */

/* 2广告 */
#banner{
    background:url(../imgs/zhuanqubanner.png);
    height: 473px;
}
#banner .juxing{
    background: url(../imgs/zhuanqu.png);
    color: white;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    width: 270px;
    height: 395px;
    margin-top: 30px;
}
#banner h1{
    margin-top: 14px;
    text-align: center;
}
#banner p{
    margin-top: 10px;
    margin-bottom: 10px;
}
#banner a{
    color: white;
    font-size: 14px;
    margin-left: 10px;
    line-height: 24 px;
    text-align: center;
}
#banner a:hover{
    color: #00A7EA;
    font-weight: bolder;
    transition: 1s;
}
#banner .bannerquyu{
    width: 206px;
}

#banner .bannerquyu::after{
    content: "";
    display: block;
    border: 2px dashed white;
    width: 100%;
    margin-top: 10px;
}






/* 3标题 */
#title .titlelt1,.titlelt2,.titlelt3{
    height: 50px;
}
#title a{
    margin-left: 16px;  
    margin-top: 10px;
    line-height: 24px;
}
#title .titlepiao1,.titlepiao2,.titlepiao3{
    position: absolute;
    top: 285px;
    left:0px;
}


/* 3.1标题左边 */
#title .title-left{
    margin-right: 13px;
    margin-bottom: 25px;
}

#title .title-left .titlelt1>img{
    position: absolute;
    left:200px;
    top: 14px;
}


/* 3.2标题中间 */
#title .title-middle span{
    position: absolute;
    color: gray;
    top: 18px;
    left: 105px;
}
#title .title-middle .titlelt2>img{
    position: absolute;
    left: 424px;
    top: 14px;
}


/* 3.3标题右边 */
#title .title-right{
    margin-left: 10px;
}
#title .title-right span{
    position: absolute;
    color: gray;
    top: 18px;
    left: 140px;
}
#title .title-right .titlelt3>img{
    position: absolute;
    left: 424px;
    top: 14px;
}


/* 3.4标题底部 */
#title .title-bottom img:not(:first-child
){
    margin-left: 15px;
}


/* 4.主体 */
#menu .menutop{
    height: 60px;
    width: 511px;
    margin: 44px auto 28px;
}
#menu .menuleft a{
    display: block;
    width: 113px;
    height: 35px;
    background-color: gray;
    position: absolute;
    opacity: 0.5;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    border: white 1px solid;
}
#menu .menuleft a:hover{
    color: red;
    background-color: black;
    opacity: 0.5;
    transition: 1s;
    border-radius: 20px;
}
#menu .a1{
    left: 18px;
    top: 25px;
}
#menu .a2{
    left: 141px;
    top: 25px;
}
#menu .a3{
    left:18px;
    top: 75px;
}
#menu .a4{
    left: 141px;
    top: 75px;
}
#menu .menumiddle{
    width: 630px;
    height: 410px;
    margin-left: 15px;
}
#menu .menuright{
    padding: 20px;
    box-sizing: border-box;
}
#menu .menuright span{
    font-size: 12px;
    color: gray;
}
#menu .menuright>p{
    margin-bottom: 10px;
}
#menu .menuright li:not(:first-child){
    font-size: 14px;
    border-bottom: gray 1px solid;
    line-height: 48px;
}
#menu .menuright li:nth-child(1) p{
    width: 120px;
    margin-left: 11px;
    font-size: 14px;
}
#menu .brandtop p{
    margin-left:650px;
    margin-top: 10px;
    margin-right: 60px;
    line-height: 30px;
}
#menu .brandtop div{
    margin-left:650px;
    border: solid 1px black;
    width: 324px;
    height: 62px;
    margin-top: 40px;
    display: block;
    text-align: center;
    line-height: 62px;
    font-size: 24px;
    margin-bottom: 42px;
}
#menu .brandtop>img{
    margin-left: 35px;
}
